.cnbc-admin-fix-top {
    position: absolute;
    right: 50%;
    width: 1418px;
    height: 310px;
    margin-right: -214px;
    top: 20px;
}
.cnbc-admin-fix-popular {
    position: relative;
    left: -50%;
}
.cnbc-admin-fix-ceo {
    position: relative;
}

.cnbc-admin-fix-program {
    position: relative;
}

.cnbc-admin-fix-premium {
    position: relative;
}

.cnbc-admin-fix-financial {
    position: relative;
}

.cnbc-admin-fix-hotIssue {
    position: relative;
}
.cnbc-admin-fix {
    position:  absolute;
    z-index:  300;
    width: 30px;
    height: 30px;
    top: -20px;
    right:  0;
}
.modal-dialog.modal-fullsize {
    width: 85%;
    height: 90%;
    margin: 0;
    padding: 0;
}

.modal-content.modal-fullsize {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

.modal.modal-center {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal.modal-center:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog.modal-center {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

